html {
    font-size: 16px;
}

body {
    font-size: 100%;
    background: #bada55;
    font-family: sans-serif;
    padding-left: 3%;
    padding-right: 3%;
}

p {
    max-width: 60rem;
    line-height: 1.7;
}

li {
    line-height: 2.5;
    max-width: 80rem;
}

pre > code {
    display: block;
    background-color: #222;
    color: #eee;
    padding: 2em;
    max-width: 80rem;
    font-size: .7em;
    line-height: 1.7;
}

img {
    max-width: 100%;
    height: auto;
}

.post-in-progress-message {
    background-color: darkgreen;
    color: #eee;
    font-style: italic;
    border-radius: 10px;
    padding: 1em;
}

@media(min-width:48rem) {
    body {
        font-size: 120%;
    }
}

@media(min-width:65rem) {
    body {
        font-size: 140%;
    }
}

@media(min-width:80rem) {
    body {
        font-size: 160%;
    }
}

@media(min-width:110rem) {
    body {
        font-size: 180%;
    }
}

@media(min-width:140rem) {
    body {
        font-size: 210%;
    }
}
